.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.description {
  font-size: 16px;
  line-height: 1.5;
  color: #666;
  margin-bottom: 20px;
}

.description .bold {
  font-weight: bold;
  color: #ff2f00;
}

table {
  width: 100%;
  border: 1 px solid green;
}

table tr {
  background-color: rgb(20, 210, 58);
  color: purple;
  text-align: center;
  height: 40px;
}

table tr:nth-child(even) {
  background-color: #9b6666;
  color: yellow;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #dc3a15;
  color: white;
  text-align: center;
}
